.attachments_filters_outter_div{
  .attachments_filters{
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    font-size: 14px;
    background-color: #C9D8E1;
    border-bottom: 1px solid #D9DFE2;
    .filters{
      display: flex;
      gap: 10px;
      align-items: center;
      #attachments_tags{
        width: 200px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #DFE1E5;
        border-radius: 7px;
        padding: 0 8px;
      }
      #attachments_name{
        width: 382px;
        height: 30px;
        border-radius: 7px;
        background: #FFFFFF;
        border: 1px solid #DFE1E5;
        padding: 0 8px;
      }
      .filter_button{
        background-color: #327390;
        border-radius: 3px;
        color: #FFFFFF;
        border: none;
        outline: none;
        padding: 4px 10px;
        font-size: 12px;
      }
      input:focus-visible, select:focus-visible{
        outline: none;
      }
    }
    .button_hide_filters{
      padding: 8px;
      color: #333333;
      border: 1px solid #CED4DA;
      background-color: #FFFFFF;
      font-size: 12px;
      letter-spacing: 1px;
      border-radius: 3px;
      outline: none;
      transition: all 1s;
      &:hover{
        border: 1px solid #000;
        transition: all 1s;
      }
    }
  }
}