.show_results_attachments {
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  span{
    font-weight: 700;
  }

  .pagination_attachments {
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 10px;
    color: rgba(51, 51, 51, 0.5);
    letter-spacing: 0.05em;
    text-align: right;
    outline: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;

    .box_pagination{
      position: relative;
    }

    .button_mais_pags {
      width: 33px;
      height: 17px;
      background: #ffffff;
      border: none;
      color: #333333;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      outline: none;
      
      svg {
        margin-left: 4px;
        color: rgba(51, 51, 51, 0.5);
      }
    }

    .previous-page,
    .next-page {
      color: #333333;
      border-radius: 1.13333px;
      background-color: #ffffff;
      border: none;
      outline: none;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:disabled {
        background-color: rgba(239, 238, 238, 0.5);
      }

      .uil {
        font-size: 12px;
      }
    }

    .menu_pagination {
      padding: 0;
      min-width: 0px;
      width: 50px;
      border: 1px solid #cccccc;
      list-style: none;
      position: absolute;
      background-color: #ffffff;
      border-radius: 2px;

      .page-item {
        .page-link {
          color: #333333;
          font-size: 10px;
          width: 48px;
          text-align: center;
          border: none;
          margin: 0;
          background-color: transparent;
          border-radius: 0;
          cursor: pointer;

          &:hover {
            background-color: #cccccc;
          }
        }
      }

      .page-item.active {
        .page-link {
          background-color: #1fbd89;
          color: #ffffff;
          border: none;
          border-radius: 0px;
        }
      }

      span {
        text-align: center;
        color: #333333;
        width: 50px;
        border: none;
        background-color: transparent;

        &:hover {
          background-color: #cccccc;
        }
      }
    }
  }
}
